<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  <!-- navbar -->
    {{>navbar}}
  <!-- navbar end -->

  <!-- hero section  -->
  <div class="container-fluid main-header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side  -->
          <div class="col-md-12 col-12 main_header_left align-items-center">
            <figure class="errimg">
                <img src="./404.png" alt="figure" class="img-fluid" title="My figure">
            </figure>

            <p>Welcome to the technical world</p>
            <h1>Oops !! Page Not Found</h1>
            <a href="/" ><button>Go Back</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Hero section end  -->

  <!-- footer  -->
  
  <footer>Created with ❤️ by Ankit Khan</footer>
</body>

</html>