<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  <!-- navbar -->
    {{>navbar}}
  <!-- navbar end -->

  <!-- hero section  -->
  <div class="container-fluid main-header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- left side  -->
          <div class="col-md-6 col-12 main_header_right align-items-center">
            <figure>
                <img src="./me.jpg" alt="figure" class="img-fluid" title="My figure">
            </figure>
          </div>
          
          <!-- right side  -->
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to the technical world</p>
            <h1>I am a <span class="text_clr"> Full Stack Developer, </span> MERN Stack Developer and a Student</h1>
            <a href="https://www.instagram.com/ankit_khan08/" target="_blank"><button>About Me</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Hero section end  -->

  <!-- footer  -->
    {{>footer}}  
</body>

</html>