<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
  <!-- navbar -->
    {{>navbar}}
  <!-- navbar end -->

  <!-- hero section  -->
  <div class="container-fluid main-header">
    <div class="row">
      <div class="col-md-10 col-12 mx-auto">
        <div class="main_content">
          <form class="temp_form">
            <input type="text" id="cityName" autocomplete="off" placeholder="Enter City Name">
            <input type="submit" value="search" id="submitBtn">
          </form>
        </div>

        <div class="temp_info">
          <div class="top_layer">
            <p id="day">Tuesday</p>
            <p id="date">04 July</p>
          </div>
          <div class="main_layer">
            <p id="city_name">City name here</p>
            <div class="middle_layer data_hide">
              <p id="temp"><span id="temp_real_val">0</span> <sup>o</sup>C </p>
              <p id="temp_status"><i class="fa fa-cloud" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Hero section end  -->

  <!-- footer  -->
    {{>footer}}  

    <script src="main.js"></script>
    <script>
      const getCurrentDay = () => {
        let weekday = new Array(7);
        weekday[0] = "Sunday"
        weekday[1] = "Monday"
        weekday[2] = "Tueday"
        weekday[3] = "Wednesday"
        weekday[4] = "Thursday"
        weekday[5] = "Friday"
        weekday[6] = "Saturday"

        let currentTime = new Date();
        let days = weekday[currentTime.getDay()]

        let day = document.getElementById('day')
        day.innerText = days ;
      }

      getCurrentDay() 
    </script>
</body>

</html>
